@using Elect.Web.DataTable.Models.Options
@model Elect.Web.DataTable.Models.DataTableModel

@{
    // Handle Default Values for Options
    Model.IsShowFooter = Model.IsShowFooter ?? false;
    Model.IsHideHeader = Model.IsHideHeader ?? false;
    Model.IsUseColumnFilter = Model.IsUseColumnFilter ?? true;
}

<div id="example_wrapper" class="container-fluid dt-bootstrap4">
    <table id="@Model.Id" class="table table-striped table-bordered @(Model.TableClass ?? string.Empty)" style="width:100%">
        <thead>
        @if (Model.IsUseColumnFilter == true)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    if (!column.IsSearchable)
                    {
                        <th id="filter-@column.Name"></th>
                    }
                    else
                    {
                        if (column.FilterColHint != null)
                        {
                            <th id="filter-@column.Name">@column.FilterColHint</th>
                                                                              
                            continue;
                        }
                        
                        // Render default filter col hint
                        
                        var booleanTypes = new List<Type>
                        {
                            typeof(bool),
                            typeof(bool?)
                        };
                        
                        var dateTimeTypes = new List<Type>
                        {
                            typeof(DateTime),
                            typeof(DateTime?),
                            typeof(DateTimeOffset),
                            typeof(DateTimeOffset?)
                        };
                        
                        if (column.Type.IsEnum)
                        {
                            <th id="filter-@column.Name">@ElectDataTableOptions.Instance.DefaultDisplayText.All @column.DisplayName</th>
                        }
                        else if (booleanTypes.Contains(column.Type))
                        {
                            <th id="filter-@column.Name">@ElectDataTableOptions.Instance.DefaultDisplayText.All</th>
                        }
                        else if (dateTimeTypes.Contains(column.Type))
                        {
                            <th id="filter-@column.Name">@ElectDataTableOptions.Instance.DefaultDisplayText.FilterBy dd/MM/yyyy</th>
                        }
                        else
                        {
                            <th id="filter-@column.Name">@ElectDataTableOptions.Instance.DefaultDisplayText.Filter @column.DisplayName</th>
                        }
                    }
                }
            </tr>
        }
        @if (Model.IsHideHeader != true)
        {
            <tr>
                @foreach (var column in Model.Columns)
                {
                    <th class="@column.CssClassHeader" @Html.Raw(string.IsNullOrWhiteSpace(column.AdditionalAttributeHeader) ? string.Empty : column.AdditionalAttributeHeader)>@column.DisplayName</th>
                }
            </tr>
        }
        </thead>
        @if (Model.IsShowFooter == true)
        {
            <tfoot>
            <tr>
                @for (int i = 0; i < Model.Columns.Count; i++)
                {
                    <th></th>
                }
            </tr>
            </tfoot>
        }
        <tbody>
        <tr>
            <td colspan="@Model.Columns.Count" class="dataTables_empty">
                Loading...
            </td>
        </tr>
        </tbody>
    </table>
</div>